<h2>Add new workout</h2>

<form method="post" action="insert" class="form-inline">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="workoutName" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
        <label for="reps">Reps:</label>
        <input type="number" class="form-control" id="workoutReps" placeholder="Enter reps" name="reps">
    </div>
    <div class="form-group">
        <label for="weight">Weight:</label>
        <input type="number" class="form-control" id="workoutWeight" placeholder="Enter weight" name="weight">
    </div>
    <div class="form-group">
        <label for="weight">Date:</label>
        <input type="date" class="form-control" id="workoutDate" placeholder="Enter date" name="date">
    </div>
    <div class="form-group">
        <label for="unit">Unit: lbs or kg</label>
        <select class="form-control" id="workoutUnit" name="unit">
            <option value="lbs">lbs</option>
            <option value="kg">kg</option>
        </select>
    </div>
    <input type="submit" class="btn btn-info" name="Add Workout" value="Add Workout">
</form>